@import "../../style/style.scss";

.app {
  padding-top: 50px;
}

.container {
  width: 1320px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 576px) {
  .container {
    width: 450px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 410px;
  }
}

@media (max-width: 429px) {
  .container {
    width: 370px;
  }
}

@media (max-width: 389px) {
  .container {
    width: 340px;
  }
}

@media (max-width: 359px) {
  .container {
    width: 310px;
  }
}