.rooms {
    padding-bottom: 30px;

    &_wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        width: 100%;
        justify-content: center;
        gap: 40px;
    }

    &_block {
        margin-top: 20px;
        width: 400px;
    }

    &_main {
        margin: 30px auto;
        width: 400px;
        height: 535px;
    }

    &_photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 400px;
        margin: auto auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &__main {
            width: 400px;

            img {
                width: 100%;
            }
        }
    }

    &_title {
        font-size: 20px;
        font-weight: 700;
        margin-top: 30px;
    }

    &_subtitle {
        font-size: 20px;
        font-weight: normal;
    }

    &_name {
        margin-top: 5px;
        font-weight: 700;
    }

    &_text {
        display: flex;
        flex-direction: column;
    }

    &_text:first-child {
        margin-top: 220px;
    }

    &_descr {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &_name,
    &_year,
    &_medium,
    &_size {
        text-align: center;
    }

    &_statement {
        margin-top: 50px;

        &__title {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 700;
        }

        p {
            text-align: justify;
        }
    }

    &_sv {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__info {
            width: 400px;
            text-align: justify;
        }
    }
}

@media (max-width: 576px) {
    .rooms {
        &_photo {
            width: 270px;
            height: 270px;

            &__main {
                width: 270px;
            }
        }

        &_block {
            width: 270px;
        }

        &_main {
            width: 270px;
            height: 360px;
        }

        &_title {
            font-size: 16px;
        }

        &_subtitle {
            font-size: 16px;
        }

        &_statement {
            margin-top: 20px;

            &__title {
                font-size: 16px;
            }
        }

        &_sv {
            margin-top: 20px;

            &__info {
                width: 270px;
                text-align: justify;
            }
        }
    }
}